/* this document is for styling the sign in and login pages  */

#regform {
    width: 80%;
    border-top:2px solid #ccc; 
    margin: auto;
    /* white-space: nowrap; */
    margin-top: 30px;
    min-height: 640px;
    background-image: url("../assets/bg_1.png");
     background-size:cover; 

}

 /* .bgdesign{
    width:9%;
    
    
}   */
/* .bgdesign img{
    width:100%;
    border:2px solid red;
}

.first{
    float:right;
    margin-right:20%;
    margin-top:5%;

}
.second{
    margin-top:38%;
    margin-left:23%;
} */


#formContent{
    
    /* background-image: url("assets/panorama1.jpg"); */
    background-size: cover;
    padding:20px;
    width:23%;
    position: absolute;
    margin:auto;
    margin-top: 5%;
    margin-left: 3%;
   
    /* background-color: #69779a66; */
    display:grid;
    //grid-template-columns:repeat(1, auto); 
    //grid-gap:10px 0px;
    padding : 20px 25px 20px 50px;
    /* grid-template:'header header'
                  'fname lname'
                  'email email'
                  'password pass1'
                  'dob  button'; */
    /* grid-template-columns: repeat(2,auto); */
    min-height:42%;
}

#formContent h3{
    width:90%;
    font-size:24px;
    grid-column-start:1;
    grid-column-end:end; 
    /* text-align: center; */
    color:white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}




#signInButton{
    cursor: pointer;
 
}


span{
    
    width:75%;
} 

.inpField input, #logFormCon input{
    border:none; 
    width:98%;
    padding: 12px 10px;
    font-size: 16px;
    margin-top:10px ;
    /* border:1px solid #ccc; */
    border: 1px solid #ccc;
    border-radius:4px;
    background-color:white;/*#69779a;*/
}



.inpField label{
    position: absolute;
    transform-origin: top left;
    font-size:16px;
    transform: translate(0, 16px) scale(1);
    transition: all .1s ease-in-out;   
    padding:0 10px;
    
}
.date label{
    font-size:15px;
}

.active label {
    transform: translate(0, 4px) scale(.90);
    transition: all .2s ease-in-out; 
    color:white;
    
    background-color: hsl(223, 20%, 51%); 
    border-radius:2px;
    /* //font-weight: bold; */
    position:absolute;
    padding:0px 2px;
    margin-left:10px;
   

} 

.active input{
   outline: 1px solid #1a73e8; ;
}




.sButton{
    /* border:2px solid red; */
    margin-left:13.2%;
}

#signInButton{
    background-color: black;
    color:white;
    font-size: 16px;
    padding:14px 20px;
    float: right;
    /* margin-left:25%; */
    border-radius:10px;
    cursor: pointer;
}

#signInButton:hover{
    /* opacity: 0.6; */
        
    background-color: hsl(223, 20%, 51%); 
}
#showPass{
    color:white;
    margin-top:20px;
  
}
#showPass input[type=checkbox]{
    transform: scale(1.5);
    cursor: pointer;
}
#msg {
    font-size:20px;
 
    
}
.text-danger {
    // border: 2px solid red;

    font-family: 'Poppins', sans-serif;
   
}
.validation-summary-errors ul li {
    color: white;
    //border: 2px solid red;
    
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

.validation-summary-errors ul {
    padding: 0px;
}
