/*--the file has the styling of all the common elements among the pages:
    - navingation 
    - top and bottom blue bar 
    - footer
*/
*{
    color:black;
    margin: 0;
    
}


.incre {
    font-size:larger;
    color:red;
}
.changeColor{
    color:white;
}
.decre *{
    font-size: smaller;
}


.dMode{
    background-color:#292929  /*#414040#747474*/;
    color:white;
    margin:0px;
     
    /* margin-top:-1%; */
  
}

.dark{
    background-color:black;
    color:white;
  
}

.bar{
    background-color: #87cefa;
    border:2px solid lightskyblue5;
    width:100%;
    height:29px;
    padding:0;
    font-size:20px;
    text-align: right;
    
}
.bar p{
    margin-right:90px;
    padding:0px;
    
    
}
.bar #blackBox, #whiteBox{
    font-size:28px;
    
}
.bar #whiteBox{
    color:white;
}

.presentPage{
    border-bottom: 2px solid #87cefa;
}



a{
    text-decoration: none;
    
}
li{
    list-style-type:none;
    padding:10px;
    font-size: 18px;
    font-weight: bold;
    margin-top:20px;
}





/*---Navingation styling---*/

#topContent{
    padding-top: 0.1%; 
    padding-bottom: 0.1%;
    
}  

#pageTop{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin:1% 7%;
    /* margin-left:10%;
    margin-right:10%; */
    font-family:'Nunito', sans-serif;
    font-variant: small-caps;
     //background-color: lightpink; 
   
    
}

#addLink {
    width: 20%;
    margin: auto;
    
    //border: 2px solid green;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    font-variant: small-caps;
    font-weight:bold;
}

 #addLink span {
        padding: 10px;
        margin: 0% 5%;
       // border: 0.4px solid red;
        width: 20%;
}
.logo {
    width:12%;
}
.access, .productPages{
    margin:auto;

}

.productPages ul, .access ul{
    
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px; 
    
}

.productPages{
    margin-left: 5%;
}

/*requires a diffrent bottom padding beacuse of the image */
.access ul li{
    padding:1px 10px 0px 10px;
    border-right: 1px solid black;
}
.access{
    float:right;
    margin-right: -62px;
    /* background-color: aqua; */
}
.access img {
    width: 89%;
    margin-top: 1px;
    padding: 0px;
}
.access img:hover{
    transform: scale(1.1);
}

/*--------- add focus---------*/
nav ul li:hover, .access img :hover, #addLink span:hover{
    /*transform: scale(1.1,1.1); /*allowa to add focus on it */
    /*box-shadow: 0px 8px 20px  #000000;*/
    cursor: pointer;
    border-bottom:2px solid  #7d51f5;
}

/*-------- footer ------------- */
/*----Footer Sytling----*/
#bottomPage {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: bold;
    /* margin-top: -8%; */
}

#footerContent{
    font-family:'Nunito', sans-serif;
    /* background-color:aquamarine; */
    width:75%;
    margin:auto;
    margin-top:1%;
    display:grid;
    grid-template-columns:repeat(5, auto);
    
}
#ftLinks{
    /* border:1px solid yellow;
    background-color:blueviolet; */
    padding-top:10px;
  
    
}
#ftLinks li:hover{
    /* text-decoration: underline;  */
    
    /* margin-left:4px;
    font-size: large; */
  
    transform: scale(1.1) ; 

}
#ftLinks a:hover{
    color:#7d51f5;
}
#ftLinks ul li{
    
    /* border:1px solid blueviolet;
    background-color: violet; */
    font-size:15px;
    font-family:'Nunito', sans-serif;
    font-weight: bold;
  
    padding:0.5%;
    margin-left:1.3%;
    margin:auto;
}




#author{
    /* background-color: tomato;  */
    margin:0px auto;
    padding-top:10px;
    line-height: 22px;
    font-family:'Nunito', sans-serif;
    
}

#socialMedia{
    /* background-color: turquoise; */
    grid-column-start: 3;
    grid-column-end: end;
    margin:auto;

}
#socialMedia a img{
   width:44px;
   background-color: transparent;
   margin:5px;
}
#socialMedia a img:hover{
    transform: scale(1.1);
    border-radius: 5px;
    box-shadow:0px 9px 20px  #7E9EC9;
 }

footer >p{
    /* grid-column-start: 1;
    grid-column-end: end; */
    text-align: center;
    background-color: #87cefa;
    border:2px solid lightskyblue5;
    width:100%;
    margin:10px auto 0px auto;
    padding-top:2px;
    /* height:25px;
    padding-top:5px;
    */
}
/* .basketFooter{
    margin-top:-7%;
} */
.basketFooter #footerContent{
    margin-top:10%;
    border-top:1px solid #dac7cd; 
    padding-top:10px;
}



/***********************************************************************/
/*            Styling the basket content of all the pages              */
/***********************************************************************/
#basketCont{
    position: relative;
    margin-top:-48%; 
    min-height: 850px;
    /* margin-left:70%;  */
    /*height:100vh; /* take screen height*/
    background-color:rgb(0, 0, 0,0.3);
    z-index:1;
    visibility: hidden;
    
}
  
#basketCont #bContent{
    margin-left:70%;
    background-color:white;
    position: absolute;
    overflow-wrap: normal;
    /* overflow:scroll;  */
    
    font-family:'Roboto', sans-serif;
}
#basketCont section #title,#basketCont section #siginTitle {
    padding:18px;
    background-color:#f7f6f2;

}

#bContent >h3 {
    font-family: 'Poppins', sans-serif;
    padding:20px;
    text-align: center;
}

.display{
    border-bottom:1px solid #dac7cd; 
    display: grid;
    grid-template-columns: repeat(3,33.33%);
    padding: 20px 16px;
    grid-gap:10px 2px;
    visibility: hidden;
    
}

.display img{
    width:50%;
    /* border:2px solid blue; */
    padding-left:25px;
    
}


.display input[type=number]{
    width:24%;
    margin-top:14px;
    font-size:16px;
    cursor: pointer;
   
}

.display section{
    margin-left:-20px;
    padding-top:12px;
    
    /* text-align: center; */
}
.pPrice{
  
   margin-top: 20px;
   font-weight: bold;
   font-size:18px;
   padding-top: 40%;
   
   
}
#basBottom{
    margin-top:38px;    
}
.checkout {
    display: grid;
    grid-template-columns: repeat(2,auto);
    text-align: center;
    padding:25px 20px;
    border-top:1px solid #dac7cd; 
 
}

.checkout #totalCart{
 
    text-align: center;
    font-size: 18px;
    font-weight: bold;
   

}
.numQuantity{
    margin-top: 10px;
}
#checkButton{
    background-color: black;
    margin-bottom: 0;
   
    
}
#checkButton button{
    background-color: transparent;
    color:white;
   
    width: 100%;
    padding:20px;
    cursor: pointer;
    font-size: 20px;
    border:none;

  
}

#title span{
    position: absolute;
    right: 10px;
    top:0px;
    color: black;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
 
    width:inherit;
}


/* set the visibility  */
.show{
    visibility:visible;
}
/* .indexBasket{
   margin-top:-200%;
   z-index: 1;
   
}  */


#search input{
  //  float: right;
    padding: 6px;
    border: none;
    border-bottom:1px solid black;

    margin-left:90px;
    font-size: 17px;
    width:50%;
   
}
nav ul #search:hover {
    border: none;
}
#addItems {
    display:flex;
    flex-direction:column;
    width:40%;
    margin-left:30%;
}

.itemsDisp img {
    width:100px;
    height:100px;
}

.itemsDisp img:hover {
        transform: scale(1);
}
.itemsDisp {
    border:1px solid blue;
    width:10%;
    margin-left:20%;
    margin-top:2%;
}
.indexBasket {
    margin-top:100px;
    background-color:red;
}

.logButton {
    border: none;
    height: inherit;
    font-family: 'Nunito', sans-serif;
    background:none;
     font-size: 18px;
    font-weight: bold;
}
