@page
@model eCommerceSite.Pages.aboutusModel
@{
}

<link rel="stylesheet" href="~/css/category.css" type="text/css" />
<h2> About Us</h2>
<span class="ahr"><hr /></span>

<section id="aboutUS">
    
    <section class="qImg">
        <img src="~/assets/logo2.png" alt="Qtec Logo" />
        <h3>QTec</h3>
    </section>
    
    <section id="aDesc">
        <p>

            <br />
            Qtec has a variety of products from watches
            to camera and accessories links to which can
            be seen in the navigation bar. The company
            started with a local store, but with time and
            hard work of all QTec members, we have come a
            long way. Now, we are well recognised company
            with still the aim of providing the best customer
            service alongside meeting their needs and requirements.
            <ul>
                <li>Email: N0909947@gmail.com</li>
                <li>Number:0123456789</li>
               
                <a href="https://www.facebook.com/NottinghamTrentUniversity?fref=ts" target="_blank">
                    <img src="~/assets/facebook.png" alt="Facebook" title="Facebook">
                </a>
                <!-- Twitter-->
                <a href="https://twitter.com/TrentUni" target="_blank">
                    <img src="~/assets/twitter.png" alt="Twitter" title="Twitter">
                </a>
                <!-- Youtube-->
                <a href="https://www.youtube.com/user/NottinghamTrentUni" target="_blank">
                    <img src="~/assets/youtube.png" alt="Youtube" title="Youtube">
                </a>

                <!-- Instagram-->
                <a href="https://www.instagram.com/nottinghamtrentuni/" target="_blank">
                    <img src="~/assets/instagram.png" alt="Instagram" title="Instagram">
                </a>
                <!--Linkedin-->
                <a href="https://www.linkedin.com/edu/school?id=12658" target="_blank">
                    <img src="~/assets/linkedin.png" alt="Linkedin" title="Linkedin">
                </a>
                <!--Snapchat-->
                <a href="https://www.snapchat.com/add/trentuni" target="_blank">
                    <img src="~/assets/snapchat.png" alt="Snapchat" title="Snapchat">
                </a>
               
            </ul>
        </p>
    </section>
</section>