@page
@model eCommerceSite.Pages.audioCategoryModel
@{
}

<link rel="stylesheet" href="~/css/category.css" type="text/css" />
<!--sub categories -->


<h3> Shop speakers & headphones</h3>
<section id="subCategories">

    <a class="smart" asp-page="/audioCategory" asp-route-category="speaker">
        <img src="~/assets/speakerCat.jpg" alt="Speakers" />
        <p>Speakers</p>
    </a>

    <a class="smart" asp-page="/audioCategory" asp-route-category="headphone">
        <img src="~/assets/headPCat.jpg" alt="Headphones" />
        <p>Headphones</p>
    </a>
    <a class="smart" asp-page="/audioCategory" asp-route-category="all">
        <img src="~/assets/all.png" alt="All types" />
        <p>All types</p>
    </a>
</section>
<hr />
<section id="allCategory">

    <!--Display images-->
    @foreach (var item in Model.items)
    {
        if (!item.isDeleted)
        {

        <section class="categoryProduct">

            <img src="~/assets/@item.ProductImage" alt="Image of  @item.Name" />

            <h5>@item.Name</h5>
            <p class="price"> GBP£@item.Price</p>
            <p class="Vat">Vat @item.vat %</p>
            <p class="desc">@item.Description</p>
            <a class="subButton" asp-page="/basketPage" asp-route-id=@item.Id asp-page-handler="Add">Add to Cart</a>
        </section>
        }
    }
</section>
