@page
@model eCommerceSite.Pages.checkoutModel
@{ }


<section id="checkoutPage">
    <section id="details">
        <form method="post">
            <input>

        </form>
    </section>
    <section id="order details">
        <label>Full Name</label>
        <input type="text" placeholder="Full Name" />
        <input type="text" placeholder="Address" />



    </section>

</section>