@page
@model eCommerceSite.Pages.watchCategoryModel
@{
}


<link rel="stylesheet" href="~/css/category.css" type="text/css" />
<!--sub categories -->


<h3> Shop smart and analog watches</h3>
<section id="subCategories">

    <a class="smart" asp-page="/watchCategory" asp-route-category="smart">
        <img src="~/assets/watchSmart1.png" alt="Smart Watches" />
        <p>Smart Watches</p>
    </a>
  
    <a class="smart" asp-page="/watchCategory" asp-route-category="analog">
        <img src="~/assets/watchAnalog.png" alt="Analog Watches" />
        <p>Analog Watches</p>
    </a>
    <a class="smart" asp-page="/watchCategory" asp-route-category="all">
        <img src="~/assets/all.png" alt="All watches" />
        <p>All watches</p>
    </a>
</section>
<hr />
<section id="allCategory">

    <!--Display images-->
    @foreach (var item in Model.items)
    {
        if (!item.isDeleted)
        {
    <section class="categoryProduct">

        <img src="~/assets/@item.ProductImage" alt="Image of  @item.Name" />

        <h5>@item.Name</h5>
        <p class="price"> GBP£@item.Price</p>
        <p class="Vat">Vat @item.vat %</p>
        <p class="desc">@item.Description</p>
        <a class="subButton" asp-page="/basketPage" asp-route-id=@item.Id asp-page-handler="Add">Add to Cart</a>
    </section>
        }
    }
</section>
